<center>
    <div class="btn-group mb-3" role="group" aria-label="Basic outlined example">
        <button id="AdminButton1" type="button" class="btn AdminButton btn-outline-primary">Лекции</button>
        <button id="AdminButton2" type="button" class="btn AdminButton btn-outline-primary">Лабораторные работы</button>
        <button id="AdminButton3" type="button" class="btn AdminButton btn-outline-primary">Тесты</button>
        <button id="AdminButton4" type="button" class="btn AdminButton btn-outline-primary">ОКР</button>
        <button id="AdminButton5" type="button" class="btn AdminButton btn-outline-primary">Статистика</button>
        <button id="AdminButton6" type="button" class="btn AdminButton btn-outline-primary">экспорт</button>
    </div>
</center>
<div class="mb-2">
    <div class="text-center text-primary border-bottom border-primary mb-2">
        <span id="AdminContentName" class="fs-4">Лекции</span>
    </div>
</div>

<div id="AdminContent">

</div>

<script src="~/js/ajaxAdmin.js"></script>


