@{
    ViewData["Title"] = "Панель админа";
}

<div class="d-flex mb-4 justify-content-around">
    <span class="badge bg-success p-2">Экспорт из EXCEl</span>
    <span class="badge bg-success p-2">Создание теста</span>
</div>

<div>
    <div class="d-flex">
        <button type="button" class="btn btn-primary">Тесты</button>
        <button type="button" class="btn btn-primary">Ученики</button>
    </div>
    <div>

    </div>
</div>


